{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}

    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/brands">Marche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category">Categorie</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/Addproduct">Aggiungi prodotto</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/addcat">Aggiungi categoria</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/addbrand">Aggiungi marca</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
    </div>
    <div class="container mt-5">
    <table class="table table-sm table-condensed table-striped">
        <thead>
            <th>Sr</th>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Sconto</th>
            <th>Marca</th>
            <th>Immagine</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </thead>
        <tbody>
            {% for product in products %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.discount }}</td>
            <td>{{ product.brand.name }}</td>
            <td><image src="{{ url_for('static', filename='images/' + product.image_1)}}" width="50" height="40"></image> </td>
            <td>
                <a href="{{ url_for('updateproduct', id=product.id) }}" class="btn btn-info btn-sm">Modifica</a>
                </td>
            <td>
                <!--<a href="{{ url_for('updateproduct', id=product.id) }}" class="btn btn-info btn-sm">Elimina</a> -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{ product.id }}">
                Elimina
</button>
                </td>
        </tr>
                <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Sei sicuro di voler eliminare il prodotto ( {{ product.name }} )</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancella</button>
          <form action="{{ url_for('deleteproduct', id=product.id) }}" method="post">
           <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
          </form>

      </div>
    </div>
  </div>
</div>


        {% endfor %}

        </tbody>

    </table>
    </div>

{% endblock content %}

